html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Avenir Next LT Pro', sans-serif !important; }

ul {
  list-style: none; }

a {
  cursor: pointer; }
  a:focus {
    color: #354244 !important;
    text-decoration: none !important; }

.container {
  max-width: 1240px !important;
  width: 100% !important; }

.text-bold {
  font-weight: bold; }

.text-normal {
  font-weight: normal; }

.clear {
  clear: both; }

.no-bg {
  background-image: none !important;
  background: none; }

.no-padding {
  padding: 0px !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: none; }

.menu {
  background: yellow;
  padding: 10px; }
  .menu ul {
    background: #000;
    padding: 10px; }
    .menu ul li {
      background: red;
      display: inline-block; }

#header {
  border-top: 5px solid #212d4a;
  /*fixed header*/
  /*menu-navigation*/
  /*dropdown button "O IPREF"*/ }
  #header .top-label {
    margin-top: 32px;
    height: 30px; }
    #header .top-label .busca {
      padding: 25px 0; }
      #header .top-label .busca .form-control {
        display: inline-block;
        width: auto;
        border: none;
        box-shadow: none; }
      #header .top-label .busca .align-busca {
        width: 80%; }
    #header .top-label .btn-header .btn-saude {
      background-color: #009fe3; }
    #header .top-label .btn-header .btn-previdencia {
      background-color: #212d4a; }
    #header .top-label .btn-header .bg-btn-header {
      display: inline-block;
      width: auto;
      padding: 20px 10px;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 25px; }
      #header .top-label .btn-header .bg-btn-header .btn-text {
        display: inline-block;
        float: right;
        width: 70%;
        color: #FFF; }
        #header .top-label .btn-header .bg-btn-header .btn-text h2 {
          margin-top: 0px;
          margin-bottom: 5px; }
          #header .top-label .btn-header .bg-btn-header .btn-text h2 font {
            weight: bold;
            size: 18px; }
        #header .top-label .btn-header .bg-btn-header .btn-text p font {
          size: 12px;
          style: italic; }
      #header .top-label .btn-header .bg-btn-header .btn-icon {
        display: inline;
        float: left; }
  #header ul li {
    display: inline;
    padding: 5px; }
    #header ul li a {
      text-decoration: none;
      color: black; }
  #header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    #header .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center; }
  #header .dropdown:hover .dropdown-content {
    display: block; }
  #header #menu-dropdown {
    border: none;
    background-color: #FFF; }

.icon {
  background: url("../images/spritesheet.png") no-repeat;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-webkit-transition: all 0.3s; }
@keyframes loading {
  to {
    width: 150px; } }
  .icon-phone {
    width: 23px;
    height: 23px;
    background-position: -204px -152px;
    position: relative;
    top: .6rem;
    right: .5rem; }
  .icon-mail {
    width: 23px;
    height: 23px;
    background-position: -222px -2px;
    position: relative;
    top: .6rem;
    right: .5rem; }
  .icon-cart {
    background-position: -1px -152px;
    width: 23px;
    height: 23px;
    position: relative;
    top: .6rem;
    left: .5rem; }
  .icon-medal {
    width: 38px;
    height: 32px;
    background-position: -221px -37px;
    position: relative;
    top: .9rem; }
  .icon-arrow-l {
    width: 25px;
    height: 25px;
    background-position: -35px -1px; }
  .icon-arrow-r {
    width: 25px;
    height: 25px;
    background-position: -0 -1px; }
  .icon-quotation {
    width: 103px;
    height: 100px;
    background-position: -269px 0; }
  .icon-facebook {
    width: 29px;
    height: 29px;
    background-position: -202px -187px;
    position: relative;
    top: .6rem; }
  .icon-skype {
    width: 29px;
    height: 29px;
    background-position: 0 -110px;
    position: relative;
    top: .6rem; }
  .icon-whatsapp {
    width: 29px;
    height: 29px;
    background-position: -221px -110px;
    position: relative;
    top: .6rem; }
  .icon-more {
    width: 18px;
    height: 19px;
    background-position: -39px -38px;
    position: relative;
    top: .5rem;
    left: .4rem; }
  .icon-add-prod {
    width: 25px;
    height: 25px;
    background-position: 0 -188px;
    position: relative;
    top: .5rem; }
  .icon-map-marker {
    width: 19px;
    height: 23px;
    background-position: -5px -39px;
    position: relative;
    top: .2rem;
    margin-right: 1%; }
  .icon-map-marker-o {
    width: 27px;
    height: 33px;
    background-position: -133px -194px;
    position: relative;
    top: 1.2rem;
    margin-right: 1%; }
  .icon-close {
    width: 63px;
    height: 61px;
    background-position: -35px -150px; }
  .icon-call {
    width: 134px;
    height: 134px;
    background-position: -71px -4px; }
  .icon-degrau {
    width: 84px;
    height: 29px;
    background-position: -108px -150px; }
  .icon-box {
    width: 16px;
    height: 16px;
    background-position: -271px -111px;
    position: relative;
    top: .3rem; }
  .icon-loading {
    width: 0;
    height: 18px;
    background-position: -112px -249px;
    animation: loading 2s alternate infinite;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-webkit-transition: all 0.4s; }
  .icon-bd {
    background-position: -12px -238px;
    width: 95px;
    height: 36px; }
  .icon-tel {
    background-position: -29px -68px;
    width: 31px;
    height: 31px; }
  .icon-del {
    background-position: -120px -73px;
    width: 13px;
    height: 19px; }
  .icon-lock {
    background-position: -159px -46px;
    width: 13px;
    height: 17px; }
  .icon-desconto {
    background-position: -266px -17px;
    width: 23px;
    height: 23px; }
  .icon-cc {
    background-position: -261px -49px;
    width: 37px;
    height: 23px; }
  .icon-truck {
    background-position: -261px -78px;
    width: 38px;
    height: 30px; }
  .icon-televendas {
    background-position: -265px -113px;
    width: 30px;
    height: 31px; }
  .icon-ssl {
    background-position: -19px -145px;
    width: 57px;
    height: 57px; }
  .icon-dne {
    background-position: -76px -109px;
    width: 169px;
    height: 30px; }
  .icon-visa {
    background-position: -93px -157px;
    width: 33px;
    height: 33px; }
  .icon-mastercard {
    background-position: -138px -157px;
    width: 33px;
    height: 33px; }
  .icon-maestro {
    background-position: -183px -157px;
    width: 33px;
    height: 33px; }
  .icon-elo {
    background-position: -228px -157px;
    width: 33px;
    height: 33px; }
  .icon-dinners-club {
    background-position: -273px -157px;
    width: 33px;
    height: 33px; }
  .icon-american-express {
    background-position: -93px -198px;
    width: 33px;
    height: 33px; }
  .icon-convenio {
    background-position: -138px -198px;
    width: 33px;
    height: 33px; }
  .icon-boleto {
    background-position: -180px -198px;
    width: 33px;
    height: 33px; }
  .icon-dinheiro {
    background-position: -225px -198px;
    width: 33px;
    height: 33px; }

.call {
  position: fixed;
  bottom: 1rem;
  right: 0; }

/* HOVER */
.actions-product i:hover, .call i:hover {
  -webkit-filter: contrast(85%);
  /* Safari */
  filter: contrast(85%); }

.social i:hover {
  transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
  box-shadow: 2px 2px 2px #00000080; }

/*# sourceMappingURL=aplication.css.map */
