
.contact-form {
	margin-top: 130px;

	h1 {
		color: #009fe3;
		font-weight: 400;
		margin-bottom: -20px;

		&::before{
			content:"";
			background-color: #f7fafa;
			width: 115px;
			height: 78px;
			position: absolute;
			z-index: -1;
			left: -18px;
			top: 137px;		}

		}
		span {
			color: #212d4a;
			font-weight: bold;
			font-size: 38px;

		}

		p {
			font-size: 18px;
			margin-right: 105px;
			margin: 30px 105px 30px 0px;
		}

		form {
			margin: 0;
			padding: 0;
			

			input {
				background-color: #f7fafa;
				height: 65px;
				font-size: 13px;
				margin-bottom: 45px;
				border-bottom-right-radius: 35px; 
				border: none;
				padding-left: 30px;

				#msgInput {
					height: 65px;
				}
			}

			.big-input {
				width: 100%;
				
			}
			.short-input {
				width: 50%;
				
			}
			label {
				font-size: 18px;
				display: block!important;
				margin-bottom: 10px!important;
			}

			.btn-submit {
				background-color: #009fe3;
				border: none;
				border-bottom-right-radius: 30px;
				width: 50%;
				height: 65px;
				font-size: 18px;
				color: #FFF;
			}
		}
	}


	#bg-contato-inner{
		background: url('../images/img-contato.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		width: 861px;
		height: 546px;
		position: absolute;
		z-index: -1;
		left: 89px;
		top: 139px;
	}

	.contact-info {
		font-style: italic;
		.adress {
			p {
				margin: 760px 0 0 195px;

				i {
					top: -8px !important;
				}

			}
			a {
				font-size: 20px;
				width: 360px;
				display: inline-block;
			}
		}

		.telefone {
			p {
				margin: 20px 0 0 195px;

				i {
					top: 0px !important;
				}

			}
			a {
				font-size: 20px;
				width: 360px;
				display: inline-block;
				margin-left: 10px;
			}
		}

		.op-hours {
			p {
				margin: 20px 0 0 195px;

				i {
					top: -14px !important;
				}

			}
			a {
				font-size: 20px;
				width: 360px;
				display: inline-block;
				margin-left: 10px;
			}
		}
	}

	#location-title {
		&::before{
			width: 115px;
			height: 75px;
			position: absolute;
			z-index: -1;
			left: 347px;
			top: 1594px;
		}
	}

	.contact-map {
		margin-left: 50px !important;

		.map-border {
			border-top-right-radius: 100px;
			border-bottom-left-radius: 100px;
			width: 100%;
			height: 435px;
			overflow: hidden;

			#map{
				width: 100%;
				height: 435px;
			}
		}
	}