#bg-saude-inner{
	background: url('../images/bg-saude-inner.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 910px;
	height: 923px;
	position: absolute;
	z-index: -1;
	right: 0;
}

#rede-credenciada {
	margin-top: 100px;

	&:before{
		content:"";
		background: url('../images/bg-grey-left.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		width: 993px;
		height: 375px;
		z-index: -1;
		left:  0;
		position: absolute;
	}

	.title-info {
		h2 {
			&:before {
				background: #eaf1f6;
			}
		}
	}

	.text {
		p {
			color: #212d4a;
			padding: 30px 40px 20px;
			font-size: 18px;
		}
	}
	.btn-footer {
		.bg-btn-radius {
			position: relative;
			top: 80px;
			left: 6%;
			padding: 50px 30px;
			.btn-text {
				width: 65%;
				margin-left: 15px;

				p {
					font-size: 20px;
					font-weight: bold;
					line-height: 1;
					font-style: normal;
					text-transform: uppercase;

					span {
						color: #00ffff
					}
				}
			}
		}
	}
}

#planos {
	margin-top: 200px;
	margin-bottom: 100px;

	&:after{
		content:"";
		background: url('../images/bg-blue-right.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		width: 921px;
		height: 565px;
		z-index: -1;
		right:  0;
		top: 1250px;
		position: absolute;
	}

	.plano-saude {
		border-top-left-radius: 75px;
		border-bottom-right-radius: 75px;

		p {
			padding: 0 10px;
		}

		h2 {
			&:after {
				height: 4px;
				left: 40px;

			}
		}
	}

	.plano-saude.alt {
		background: #f8fafa;
	}

	.title-info {
		h2 {
			left: 40%;
			margin: 30px 0 95px
		}
	}

}

#faq-saude {
	.panel{
		box-shadow: none;
	}

	.panel-heading {
		padding: 0;
	}

	.collapse.in {
		border-left: 8px solid #00ffff;
	}
	.collapse {
		border-left: 8px solid #fff;
	}

	.panel-default {
		border: none;
		margin: 0;

		& > .panel-heading {
			background-color: #fff;
			border-color: #fff;
			border:none;
		}
		.panel-title {
			padding: 30px 30px;
			font-style: italic;
			font-size: 14px;
			color: #212d4a;
			border-left: 8px solid #fff;
			border-top: 1px solid #edf4f4;
			margin: 0;
			@include transition(all 0.3s);


			&:hover{
				border-left: 8px solid #00ffff;
			}
		}

		.panel-body {
			border: none;
			padding: 30px 30px;
			font-style: italic;
			font-size: 14px;
			color: #93a9b8;
			border-left: 8px solid #fff;
			margin: 0;
			@include transition(all 0.3s);
		}
	}

	.title-info {
		margin-bottom: 30px;
	}

}