#header {
	border-top: 5px solid #212d4a;

	.busca {
		padding: 25px 0;

		.form-control {
			display: inline-block;
			width: auto;
			border: none;
			box-shadow: none
		}

		.align-busca{
			width: 80%
		}
	}

	.btn-header {
		.btn-saude {
			background-color: #009fe3;
		}
		.btn-previdencia{
			background-color: #212d4a;
		}
		.bg-btn-header {
			display: inline-block;
			width: auto;
			padding: 20px 10px;
			border-bottom-left-radius: 25px;
			border-top-right-radius: 25px;
			
			.btn-text {
				display: inline-block;
				float: right;
				width: 70%;
				color: #FFF;
				h2 {
					margin-top: 0px;
					margin-bottom: 5px;
					font {
						weight: bold;
						size: 18px;
					}
				}
				p {
					font {
						size: 12px;
						style: italic;
					}
				}
			}
			.btn-icon {
				display: inline;
				float: left;
			}
		}
	}

}


