#header {
	.top-label {
		border-top: 5px solid #212d4a;
		padding: 30px 0; 
		.busca {
			padding: 25px 0;

			.form-control {
				display: inline-block;
				width: auto;
				border: none;
				box-shadow: none;
				color: #bbb;
				font-size:15px;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #d8e4ec;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #d8e4ec;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #d8e4ec;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #d8e4ec;
				}
			}

			.align-busca{
				width: 80%;
			}
		}
	}

	/*menu-navigation*/
	.nav-menu {
		background: #fff;

		.bg-menu-alt{
			
			a{
				color: #009fe3;
				background: #f5f8fa;
				@include transition(all 0.3s);
				padding: 20px 16px!important;

				&:hover{
					background: #009fe3;
					color: #f5f8fa;
				}
			}
		}

		li {
			display: inline;

			a {
				text-decoration: none;
				color: #212d4a;
				font-size: 14px;
				padding: 20px 12px;
				background: #fff;
				@include transition(all 0.3s);


				&:hover {
					text-decoration:none;
					background: #212d4a!important;
					color: #fff;
				}
			}

		}
		/*.first{
			a{
				padding: 20px 12px 20px 0;
			}
		}
		*/
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 99999;
		top: 39px;

		@include transition(all 0.3s);


		.col-lg-2{
			width: 190px!important;
			padding: 0 0 0 30px;
			a{
				padding: 10px 0!important;
				color: #fff;
				float: none;
				text-decoration: none;
				display: block;
				line-height: 15px;

			}
		}

		.bg-blue-light{
			background: #263250;
			height: 250px;

			a{
				background: #263250;
				@include transition(all 0.3s);

				&:hover{
					color: #01ffff;
				}
				
			}
		}

		.bg-blue-dark{
			background: #212d4a;
			height: 250px;

			a{
				@include transition(all 0.3s);
				background: #212d4a;

				&:hover{
					color: #01ffff;
				}
			}
		}

		h2{
			text-transform: uppercase;
			font: {
				size:16px;
				weight: bold;
			}

			&:after{
				width: 80px!important;
				left: 20px!important;
			}
		}

	}

	.dropdown:hover .dropdown-content {
		@include transition(all 0.3s);
		display: table;
	}

	/*dropdown button "O IPREF"*/
	#menu-dropdown {
		border: none;
		background-color: #FFF;

	}
}


