
#footer {
	.text-footer{
		p, a {
			color: #fff;
			margin: 0;
			font-size: 16px;
		}

		h2 {
			color: #FFF;
			font-size: 16px;
			font-weight: normal;
		}


	}
	.map-site {
		p, a {
			color: #fff;
			margin: 0;
			font-size: 12px;
		}

		ul {

			li {
				display: inline;
				float: left;
				width: 175px;
			}
		}
	}

	.one-colum-map {
		li {
			width: 100% !important;
		}
	}

	.bg-footer {
		background: #222d4b;
		border-top-left-radius: 20px;
		padding: 10px 50px;
	}

	.address-footer {
		p {
			margin: 12px 0 !important;
		}
		a {
			display: inline-block;
			font-size: 13px;
		}
	}

	.btn-footer {
		position: relative !important;
		top: -50px !important;

		.bg-btn-radius{
			padding: 15px 10px 10px 10px !important;
			width: 265px !important;
		}

		.btn-text {
			width: 70%;

			h2 {
				font-size: 22px;
				line-height: 18px;
				padding-top: 6px;

				span {
					font-size: 15px;
					display: block;
				}
			}
		}
	}

	.copyright {
		color: #FFF;
		border-top: 1px solid #253353;
		padding-top: 10px;
		margin-top: 20px;

		a {
			color: #FFF;
		}
	}
}
