
#footer {
	.text-footer {
		a {
			font-size: 16px;

			&:hover {
				text-decoration:none;
			}
		}

		h2 {
			color: #FFF;
			font-size: 20px;

			&::after {
				content: "";
				background: #01ffff;
				width: 85px;
				height: 3px;
				position: absolute;
				left: 0;
				display: block;
				top: 45px;
			}

			span {
				font-weight: bold;
				color: #01ffff;
			}
		}

		ul {
			display: inline;
		}
	}
	.bg-footer {
		background: #222d4b;
		border-top-left-radius: 20px;
		padding: 10px 50px;

		.text-footer{
			p, a {
				color: #fff;
				margin: 0;
				font-size: 18px;

				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}
