  .icon {
    background: url("../images/spritesheet.png") no-repeat;
    display: inline-block;

    @include transition(all 0.3s);

    @keyframes loading {
      to {
        width: 150px;
    }
}   

&-busca{
  width: 25px;
  height: 25px;
  background-position: -6px -6px;
  position: relative;
}

&-saude{
 width: 61px;
 height: 49px;
 background-position:-46px -6px;
 position: relative; 
}

&-previdencia{
 width: 64px;
 height: 50px;
 background-position:-123px -6px;
 position: relative; 
}

&-holerite{
 width: 14px;
 height: 16px;
 background-position:-215px -7px;
 position: relative; 
 top: 2px;
 right: 3px;


}

&-pweb{
    width: 16px;
    height: 15px;
    background-position:-245px -8px;
    position: relative;
    top: 3px;
    right: 3px;


}

&-rcredenciada{
    width: 19px;
    height: 19px;
    background-position:-276px -6px;
    position: relative;
    top: 4px;
    right: 3px;
}   

&-facebook-footer {
    background-position:-49px -218px;
    width: 28px;
    height: 19px;
    top: 7px;
    position: relative;
    left: 2px;
}

&-map-cordinate {
    background-position:-46px -153px;
    width: 28px;
    height: 24px;
    top: -2px;
    position: relative;
}

&-arrow-blue{
    width: 16px;
    height: 11px;
    background-position:-223px -43px;
    position: relative;
}

&-download{
    width: 19px;
    height: 19px;
    background-position: -322px -4px;
    position: relative;
    top: 3px;
}

&-webmail-footer {
    background-position:-6px -72px;
    width: 64px;
    height: 55px;
    position: relative;
}

&-arrow-white {
    background-position: -91px -80px;
    width: 16px;
    height: 12px;
    position: relative;
    top: -8px;
    left: 10px;    
}

&-tel-footer {
    background-position: -12px -153px;
    width: 17px;
    height: 17px;
    position: relative;
    top: 1px;
}
&-schedule-footer {
    background-position: -12px -185px;
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
}
&-check{
    width: 20px;
    height: 17px;
    background-position: -98px -138px;
    position: relative;
    top: 35px;

}
&-check-blue{
    width: 14px;
    height: 14px;
    background-position: -87px -173px;
    top: 35px;

}
&-map-saude{
    width: 89px;
    height: 89px;
    background-position: -383px -4px;
    position: relative;

}
&-credenciados{
    width: 16px;
    height: 20px;
    background-position: -11px -230px;
    position: relative;
    top:5px;
}

&-caracteristicas{
    width: 20px;
    height: 20px;
    background-position: -9px -276px;
    position: relative;
 top:5px;
}

&-legislacao{
    width: 16px;
    height: 20px;
    background-position: -43px -276px;
    position: relative;
 top:5px;
}

&-contribuicao{
    width: 20px;
    height: 15px;
    background-position: -11px -310px;
    position: relative;
 top:5px;
}

&-documentos{
    width: 20px;
    height: 20px;
    background-position: -42px -313px;
    position: relative;
 top:5px;
}
}






